body {
	background: url(../img/bg.png) center center fixed
}

h1 {
	font-size: 100px;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

.screen {
    position: absolute;
    width: 50%;
    text-align: center;
    left: 150%;
    margin-left: -25%;
}

#homeScreen {
	left: 50%;
}

.player-area {
	width: 500px;
	padding: 0px 20px;
}

.game-text {
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid rgb(94, 155, 110);
	background-color: rgba(255, 250, 250, .8);
	margin-top: 60px;
	word-wrap: break-word;
}

.game-text-input {
	margin-bottom: 40px;
}

#gameId-display {
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid #99CC99;
	padding: 5px;
}

.word {
	color: #000000;
	padding: 0 5px;
	display: inline-block;
	word-wrap: normal;
}

.gameOverScreen {
	position: absolute;
	font-size: 50px;
	left: 50%;
}

.gameOverText {
	position: relative;
	left: -50%;
	background-color: rgb(255, 250, 250);
	border-radius: 5px;
	border: dotted #993300 2px;
	padding: 20px;
}

#countdown {
	text-align: center;
	font-size: 35px;
}