body {
	background: url(../img/bg.png) center center fixed
}

h1 {
	font-size: 100px;
}

.player-area {
	/*border: 1px solid rgb(94, 155, 110);*/
	background-color: rgba(255, 250, 250, .6);
}

.game-text {
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid rgb(94, 155, 110);
	margin-top: 60px;
	word-wrap: break-word;
}

#gameId-display {
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid rgb(94, 155, 110);
	padding: 5px;
}

.word {
	color: #000000;
	padding: 0 5px;
	display: inline-block;
	word-wrap: normal;
}